h2 {
   text-align: center;
   text-decoration: underline;
}

#selectId {
    width: 10%;
}

table, tr, th, td {
    border: 1px solid;
}

.filterOption {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    font-size: 20px
}